@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Welcome to Grand Circus Coffee Shop</h3>
</div>

<div class="text-center">
    <a asp-controller="Home" asp-action="Register">Register</a>
</div>

<div class="text-center">
    <a asp-controller="Users" asp-action="LogIn">Log In</a>
</div>